*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {

  box-sizing: border-box;
  background-color: #222831;

}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  color: #00adb5;
}

.header__container {
  background-color: #eeeeee;
  width: 100%;
  font-size: 18px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.wrapper_header,
.main__container {
  margin: 0 auto;
  max-width: 960px;

}
.item{
  font-size: 1;
}
.list__header {
  display: flex;
  justify-content: space-between;
}

.item_nav {
  display: flex;
  align-items: center;
}

.item {
  position: relative;
  padding: 10px 15px;
}

a:hover {
  color: #00adb5;
}

a:active {
  color: #00adb5;
}

a {
  color: black;
}

.form-control {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  width: auto;
}

main {
  max-width: 1560px;
  margin: 100px auto;
  height: auto;
  background-color: #393E46;
  text-align: left;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 5px #121418;
  padding-bottom: 30px;

}
.wrapper{
  padding: 50px;
}
.container{
  display: flex;
  justify-content: space-between;
}
.container__profil{
  max-width: 450px;
  width: 100%;
  background-color: #393E46;
  box-shadow: 1px 1px 20px 5px #121418;
  border-radius: 4px;
}
.container__name{
  display: flex;
  justify-content: center;
  text-align: center;

}
.profil{
  padding-top: 50px;
}

.filter__photo{
  max-width: 100px;
  min-width: 100px;
  min-height: 100px;
  max-height: 100px;
  width: 90%;
  height: 90%;
  border-radius: 100px;
  overflow: hidden;
  transform: scale(1.5);
  object-fit:fill;
}

.name__profil{
  padding-top: 40px;
  color: #eeeeee;
  font-size: 20px;
  font-family: "Anta", sans-serif;

}
.said__bar{
  padding: 20px;
}
.wrapper__said{
  padding-block: 15px;
}
.said{
  line-height:40px;
  color: #eeeeee;
}
.description{
  color: #eeeeee;
}
.btns{
  padding-block: 5px;
}
.btn__edit{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.container__contact{
  color: #ffffff;
  
}
.name__contact{
  padding-bottom: 20px;
}
.contact{
  padding-bottom: 10px;
  line-height: 25px;
}
.main__stand {
  margin-left: 50px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 390px;
  max-width: 100%;
  max-height: 800px;
  overflow-y: auto; /* Add vertical scrolling */
}
.main__stand::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  

}


.main__stand::-webkit-scrollbar-track {
  background-color: #636363;
  border-radius: 5px;
  
}

.main__stand::-webkit-scrollbar-thumb {
  background-color: #141414;
  border-radius: 5px;
  

}
.stand {
  margin: 0;
  padding: 0;
}

.img {
  max-width: 180px;
  height: 390px;
  position: relative;
}

.filter__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.data__img{
  width: 100%;
  z-index: 1;
  top: 0;
  position: absolute;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  font-family: "Anta", sans-serif;
}
.container__price {
  z-index: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-family: "Anta", sans-serif;
}